config KITE
    bool "Enable the Kite library"
    default n
    help
      This option enables the Kite library, which provides a collection of utilities and features for embedded applications. If your application does not require the functionality provided by the Kite library, you can disable this option to save memory and reduce code size.

if KITE

# Logging
module = KITE
module-str = Kite library
source "subsys/logging/Kconfig.template.log_config"

rsource "src/Kconfig.ByteStream"
rsource "src/HTTP/Kconfig.HTTP"

endif # KITE